<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{single.title}}">
  <ion-content class="padding">
    <img ng-src="{{single.image}}" style="width: 64px; height: 64px">
    <ul ng-repeat="i in instructions">
      <p> {{i}} </p>
    </ul>
    <center>
      <a class="button" href="#/walkthrough/{{recipeId}}">Spoon Feed Me!!!</a>
    </center>
  </ion-content>
</ion-view>
