<ion-view view-title="Search">
  <ion-content>
    <div class="list list-inset">
      <div class="item item-input">
        <form ng-submit="getRecipes(search.query)" style="width: 90%;">
          <input type="search" placeholder="Search" ng-model="search.query" class="search-input">
        </form>
        <i class="icon ion-search recipe-search-icon" ng-click="getRecipes(search.query)" type="submit"></i>
      </div>
    </div>
    <ion-list>
      <ion-item class="recipe-item item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="recipe in content" type="item-text-wrap" href="#/tab/search/{{$index}}/search">
        <img ng-src="{{recipe.imgUrl}}">
        {{recipe.name}}
        <i class="icon ion-chevron-right icon-accessory my-chevron-right"></i>
        <ion-option-button class="button-balanced save-btn" ng-click="saveRecipe(recipe)">
          Save
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
