<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

  <!-- Dashboard Tab -->
  <ion-tab title="Search" icon-on="ion-android-search" icon-off="ion-android-search" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <!-- Saved Recipes Tab -->
  <ion-tab title="Saved" icon-on="ion-android-star" icon-off="ion-android-star-outline" href="#/tab/saved">
    <ion-nav-view name="tab-saved"></ion-nav-view>
  </ion-tab>

</ion-tabs>
