<ion-nav-view view-title="{{recipe.name}}">
	<ion-content class="padding">
  		<h3> Step {{currentStepNum}}/{{maxStepNum}} </h3>
  		<p> {{currentStep}}</p>
 


  	</ion-content>

    <!-- align to the bottom of the page -->
    <div style="position: absolute; bottom: 0px; width: 100%">
        <div style="text-align: center">
                 <div class="row">
  		    <button class="col-50 button android-btn" ng-show="currentStepNum > 1" ng-click="prevStep()">Back</button>
  		    <button class="col-50 button android-btn" ng-show="currentStepNum < maxStepNum" ng-click="nextStep()">Next</button>
        </div>


        <div class="progress">
          	<progress class="progress progress-success" value="25" max="100">25%</progress>
          </div>
        </div>
    </div>
</ion-view>




</ion-nav-view>